{% extends 'map/base.html' %}

{% block content %}
<div id="map"></div>
{% if latest_trash_list %}
	<table class="table table-hover table-bordered" id="infoTable">
		<thead>
			<th>
				Name
			</th>
			<th>
				ID
			</th>
			<th>
				Status
			</th>
			<th>
				Fill Percent
			</th>
			<th>
				Location
			</th>
		</thead>
	{% for bin in latest_trash_list %}

		<tr {% if bin.status == False %} class="danger" {% endif %}>

			<td>
				<a href="{% url 'map:detail' bin.id %}">{{bin.name}}</a>
			</td>

			<td>
				{{bin.trashID}}
			</td>
			<td>
				{% if bin.status == True %}
				<span id="work">Working</span>
				{% else %}
				<span id="broke">Broken</span>
				{% endif %}
			</td>
			<td>
				{{bin.fillLevel}}%
			</td>
			<td>
				{{bin.location}}
			</td>
		</tr>
	{% endfor %}
	</table>
	{% comment "optional note" %}
		<p>
			Have fun
		</p>
	{% endcomment %}
{% else %}
	<p> No polls are available. </p>
{% endif %}
<div id="trashDisplays"></div>

<script type="text/javascript" src="{% url 'map:map' %}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1uo7LAIZj8Xj7RKQOkN3INPlTBG_U2uY&callback=initMap"></script>


{% endblock %}


